# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/shelf/
.idea/workspace.xml
.idea/vsc.xml
.idea/modules.xml
.idea/misc.xml
.idea/Flutter_Plugins.xml
.idea/Dart_SDK.xml
.idea/Dart_Packages.xml

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
bridge/.flutter-plugins
bridge/.flutter-plugins-dependencies
bridge/.packages
bridge/.pub-cache/
bridge/.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
bridge/android/app/debug
bridge/android/app/profile
bridge/android/app/release
